<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Gatuno</title>
    <meta charset="utf-8">
    <link rel="icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="shortcut icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>

<!-- FALTA FAZER TUDO AQUI XD -->

<body>
    <section id="divMaster">
        <div id="feed">
            <h1>bem vindo de volta, user</h1>
        </div>
    </section>
</body>
</html>