<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Gatuno</title>
    <meta charset="utf-8">
    <link rel="icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="shortcut icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>


<!-- imagino que já esteja tudo pronto, mas basicamente:
    login = email do usuário
    e acho que o código tá bem legível
-->

<body>
    <section id="divMaster">
        <div id="tudo">
            <h1>GATUNO</h1>
            <form action="http://localhost:3000/login" method="post">

                <div>
                    <p>Login</p>
                    <input type="text" id="login" name="ds_email" class="textfield" size="50" autocomplete="off" required>
                </div>
                <div>
                    <p>Senha</p>
                    <input type="password" id="senha" name="ds_password" class="textfield" size="50" autocomplete="off" required>
                </div>
            </br>
                <div class="enviar">
                </br>
                    <button type="submit" id="submit">Entrar</button>
                </div>
            </form>
        </br></br></br>
            <div class="esqueci">
                <a href="cadastro">Cadastre-se</a>
            </div>
        </br>
            <div class="esqueci">
                <a href="recuperar">Esqueci minha senha D:</a>
            </div>
        </div>
    </section>
</body>
</html>