<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Gatuno</title>
    <meta charset="utf-8">
    <link rel="icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="shortcut icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>


<!-- imagino que já esteja tudo pronto, mas basicamente:
    login = email do usuário
    e acho que o código tá bem legível
-->

<body onload="parseQuery(window.location.href)">
    <section id="divMaster">
        <div id="tudo">
            <h1>Opa, parece que sua senha expirou!</h1>
            <br>
            <a>Para cadastrar uma nova senha</a>
            <a href="nova-senha">clique aqui</a>
            <br>
            <a>ATENÇÃO: não será permitido o uso da mesma senha!</a>
        </div>
        </div>
    </section>
</body>
</html>