<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Gatuno</title>
    <meta charset="utf-8">
    <link rel="icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="shortcut icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>

<!-- imagino que já esteja tudo pronto, mas basicamente: 
    nome - como vai ser chamado no APP,
    email - pra validar o cadastro
    dtNasc - pra recuperar a senha
    senha - ora ora xerox homes
-->

<body>
    <section id="cadastro">
        <h1>CADASTRO</h1>
        <form action="http://localhost:3000/cadastro" method="post" >
            <div>
                <p>Nome</p>
                <input type="text" name="login" class="textfield" size="50" autocomplete="off" required>
            </div>
            <div>
                <p>Email</p>
                <input type="text" name="email" class="textfield" size="50" autocomplete="off" required>
            </div>
            <div>
                <p>Data de Nascimento</p>
                <input type="date" name="dataNasc" class="textfield" autocomplete="off" required>
            </div>
            <div class="enviar">
            </br>
                <input type="submit" value="Confirmar" name="enviar" id="submit" onclick="adicionarUsuario()">
            </div>
        </form>        
        <div class="esqueciCad">
            <a href="login.html">Voltar</a>
        </div>
    </section>
</body>
</html>