<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Gatuno</title>
    <meta charset="utf-8">
    <link rel="icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="shortcut icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>


<!-- imagino que já esteja tudo pronto, mas basicamente:
    login = email do usuário
    e acho que o código tá bem legível
-->

<body>
    <section id="divMaster">
        <div id="tudo">
            <h1>Mudar Senha</h1>
            <form action="" method="post">

                <div>
                    <p>Senha atual</p>
                    <input type="text" id="login" name="ds_email" class="textfield" size="50" autocomplete="off" required>
                </div>
                <div>
                    <p>Nova senha</p>
                    <input type="password" id="senha" name="ds_password" class="textfield" size="50" autocomplete="off" required>
                </div>
                <div>
                    <p>Confirme a senha</p>
                    <input type="password" id="senha" name="ds_password2" class="textfield" size="50" autocomplete="off" required>
                </div>
            </br>
                <div class="enviar">
                </br>
                    <input type="submit" value="Salvar" name="enviar" id="submit" onclick="entrar()">
                </div>
            </form>            
        </br>
        <div class="esqueciCad">
            <a href="recuperar.html">Reenviar email de confirmação</a>
        </div>
        </div>
    </section>
</body>
</html>