<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Gatuno</title>
    <meta charset="utf-8">
    <link rel="icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="shortcut icon" href="Logo1.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/acesso.js"></script>
</head>

<!-- imagino que já esteja tudo pronto, mas basicamente: 
    pra recuperar a senha, o usuário precisa digitar o email e a dtNasc dele
-->

<body>
    <section id="recuperar">
        <h1>RECUPERAR A SENHA :D</h1>
        <form action="" method="post">
            <div>
                <p>Email</p>
                <input type="text" name="login" class="textfield" size="50" autocomplete="off" required>
            </div>
            <div>
                <p>Data de Nascimento</p>
                <input type="date" name="dataNasc" class="textfield" autocomplete="off" required>
            </div>

            <div class="enviar">
            </br>
                <input type="submit" value="Entrar" name="enviar" id="submit" onclick="acesso()">
            </div>
        </form>        
        <div class="esqueciCad">
            <a href="login.html">Voltar</a>
        </div>
    </section>
</body>
</html>